<aside>

    <div class="thumb">
        <img src="/imgs/person.png" width="100" height="100">
    </div>

    <ul class="menu">

        <li class="header">
            <span>My Component</span>
        </li>
        <li>
            <a href="" data-url="/mymap">사용중인 기기</a>
        </li>
        <li>
            <a href="" data-ulr="/myhistory">기기이력</a>
        </li>

        <li class="header">
            <span>My Board</span>
        </li>
        <li>
            <a href="/take" data-ulr="/take">받은 게시물</a>
        </li>
        <li>
            <a href="/send" data-ulr="/send">보낸 게시물</a>
        </li>
    </ul>


</aside>
