
<nav>
    <a class="brand" href="/"><img src="/imgs/fv.png"><b>A</b>udio<b>S</b>noop</a>


    <div id="search-container">
        <input id="search-input">
        <span>Search</span>
    </div>

    <ul class="nav-menu">
        <li>
            <a data-url="/community" href="/community">Community</a>
        </li>
        <li>
            <a data-url="/magazine" href="/magazine">Magazine</a>
        </li>
    </ul>

    <div class="info">
        <img class="img-thumb" src="/imgs/person.png">
        <a href="/mymap" class="id">master@audiosnoop.com</a>
    </div>
</nav>